/**
This stylesheet should contain any 'custom' styles
*/


/* styles copied from carousel-jb.css */

.carousel-item {
    height: 32rem;
    background-color: #005141;
}

.row {
    /* background-color: #3399ff; */
    color: #343a40;
    /*color:  #ff5050; */
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    /* **not working margin-top: 1.5rem; */
    text-align: center;
    background-color: #005141;
}

.marketing h2 {
    font-weight: 400;
    color: #99b39d;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    color: #ffffff;
    /* color: #009900; */
}


/* end of changes imported from carousel-jb.css */

footer {
    background-color: #99b39b;
}

footer li.section-header {
    color: #000;
    font-weight: bold;
}

footer a {
    color: #005141;
}

footer a:hover {
    color: #2e9636;
    font-weight: bolder;
    text-decoration: none;
}